@import "tailwindcss";

@import "./base.css";
@import "./header.css";
@import "./footer.css";
@import "./accessibility-panel.css";
@import "./hero.css";
@import "./citizen-strip.css";
@import "./about.css";
@import "./proposals.css";
@import "./detail.css";
@import "./forms.css";
@import "./chat.css";
@import "./contact.css";
@import "./error.css";
@import "./accessibility.css";

@theme {
  --font-display: "Barlow Condensed", sans-serif;
  --font-sans: "DM Sans", sans-serif;

  --color-primary: #063176;
  --color-primary-content: #feffff;
  --color-secondary: #f47f0e;
  --color-secondary-content: #feffff;
  --color-accent: #f9c31b;
  --color-accent-content: #063176;
  --color-neutral: #054994;
  --color-neutral-content: #feffff;
  --color-base-100: #feffff;
  --color-base-200: #f9c31b;
  --color-base-300: #06317640;
  --color-base-content: #063176;
  --color-error: #a50913;
  --color-campaign-red: #e0121f;
}
